[Unit]
Description=LDAP Sync Service
After=network.target

[Service]
ExecStart=/root/ldap_sync/venv/bin/python /root/ldap_sync/ldap_sync.py
Restart=always
EnvironmentFile=/etc/ldap_sync/service.conf

[Install]
WantedBy=multi-user.target