[Unit]
Description=LDAP Sync Service
After=network.target

[Service]
ExecStart=/root/ldap_sync/venv/bin/python /root/ldap_sync/ldap_sync.py
Restart=always
User=nobody
Group=nogroup
EnvironmentFile=/root/ldap_sync/.env
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target